.text-field {
    -fx-font-size: 16pt;
}

.button {
    -fx-font-size: 16pt;
}

.label {
    -fx-font-size: 36pt;
}

#AnchorPane {
    -fx-padding: 20px 10px;
}

#plus {
    -fx-end-margin: 0 0 20px 0;
}
#results {
    -fx-end-margin: 20px 0;
}